include CHANGES.rst
include LICENSE
include README.rst
include requirements.txt
recursive-include biweeklybudget/alembic *.ini *.py
recursive-include biweeklybudget/flaskapp/templates *.html
recursive-include biweeklybudget/flaskapp/static *