{% extends "base.html" %}
{% block title %}Budgets - BiweeklyBudget{% endblock %}
{% block body %}
{% include 'notifications.html' %}
            <div class="row" id="content-row">
                <div class="col-lg-12">
                    <div><a href="javascript:budgetModal()">Add Budget</a></div>
                    <div class="panel panel-default" id="panel-bank-accounts">
                        <div class="panel-heading">
                            Periodic Budgets
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped" id="table-periodic-budgets">
                                    <thead>
                                        <tr>
                                            <th>Budget</th>
                                            <th>Starting Balance</th>
                                            <th>Account</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for b in periodic %}
                                        <tr>
                                            <td><a href="javascript:budgetModal({{ b.id }})">{{ b.name }} ({{ b.id }})</a></td>
                                            <td>{{ b.starting_balance|dollars }}</td>
                                            <td>{% if b.account is not none %}<a href="/accounts/{{ b.account.id }}">{{ b.account.name }} ({{ b.account.id }})</a>{% else %}&nbsp;{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default" id="panel-credit-cards">
                        <div class="panel-heading">
                            Standing Budgets
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped" id="table-standing-budgets">
                                    <thead>
                                        <tr>
                                            <th>Budget</th>
                                            <th>Current Balance</th>
                                            <th>Account</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for b in standing %}
                                        <tr>
                                            <td><a href="javascript:budgetModal({{ b.id }})">{{ b.name }} ({{ b.id }})</a></td>
                                            <td>
                                                <span>{{ b.current_balance|dollars }}</span>
                                            </td>
                                            <td>{% if b.account is not none %}<a href="/accounts/{{ b.account.id }}">{{ b.account.name }} ({{ b.account.id }})</a>{% else %}&nbsp;{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- Modal -->
            <div class="modal fade" id="budgetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="budgetModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body" id="budgetModalBody">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="budgetModalSaveButton">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
{% endblock %}
{% block extra_foot_script %}
<script>
/**
 * Handle change of the "Type" radio buttons on the modal
 */
function budgetModalHandleType() {
    if($('#budget_frm_type_standing').is(':checked')) {
        $('#budget_frm_group_starting_balance').hide();
        $('#budget_frm_group_current_balance').show();
    } else {
        $('#budget_frm_group_current_balance').hide();
        $('#budget_frm_group_starting_balance').show();
    }
}

/**
 * Generate the HTML for the form on the Modal
 */
function budgetModalForm() {
    var frm = '<form role="form">';
    // name
    frm += '<div class="form-group"><label>Name</label><input class="form-control" id="budget_frm_name" name="name"></div>';
    // type
    frm += '<div class="form-group"><label>Type </label> <label class="radio-inline"><input type="radio" name="budget_frm_type" id="budget_frm_type_periodic" value="periodic" onchange="budgetModalHandleType()" checked>Periodic</label><label class="radio-inline"><input type="radio" name="budget_frm_type" id="budget_frm_type_standing" value="standing" onchange="budgetModalHandleType()">Standing</label></div>';
    // description
    frm += '<div class="form-group"><label>Description</label><input class="form-control" id="budget_frm_description" name="description"></div>';
    // starting balance (for periodic)
    frm += '<div class="form-group" id="budget_frm_group_starting_balance"><label>Starting Balance</label><input type="text" class="form-control" id="budget_frm_starting_balance" name="starting_balance"></div>';
    // current balance (for standing)
    frm += '<div class="form-group" id="budget_frm_group_current_balance" style="display: none;"><label>Current Balance</label><input type="text" class="form-control" id="budget_frm_current_balance" name="current_balance"></div>';
    // is_active checkbox
    frm += '<div class="form-group"><label class="checkbox-inline"><input type="checkbox" id="budget_frm_active" name="active"> Active?</label>';
    // account_id (select)
    frm += '<div class="form-group"><label>Account</label><select class="form-control" id="budget_frm_account" name="account">';
    frm += '<option value="None" selected="selected"></option>';
    {% for name in accts.keys()|sort %}
    frm += '<option value="{{ accts[name] }}">{{ name }}</option>';
    {% endfor %}
    frm += '</select></div>';
    frm += '</form>';
    return frm;
}

/**
 * Ajax callback to fill in the budgetModal with data on a budget.
 */
function budgetModalFillAndShow(msg) {
    $('#budgetModalLabel').text('Budget ' + msg['id']);
    $('#budget_frm_name').val(msg['name']);
    if(msg['is_periodic'] === true) {
        $('#budget_frm_type_periodic').prop('checked', true);
    } else {
        $('#budget_frm_type_standing').prop('checked', true);
    }
    budgetModalHandleType();
    $('#budget_frm_description').val(msg['description']);
    $('#budget_frm_starting_balance').val(msg['starting_balance']);
    $('#budget_frm_current_balance').val(msg['current_balance']);
    if(msg['is_active'] === true) {
        $('#budget_frm_active').prop('checked', true);
    } else {
        $('#budget_frm_active').prop('checked', false);
    }
    $('#budget_frm_account option[value="' + msg['account_id'] + '"]').prop('selected', 'selected');
    $("#budgetModal").modal('show');
}

/**
 * Show the modal popup, populated with information for one Budget.
 */
function budgetModal(id) {
    $('#budgetModalBody').empty();
    $('#budgetModalBody').append(budgetModalForm());
    if(id) {
        var url = "/ajax/budget/" + id;
        $.ajax(url).done(budgetModalFillAndShow);
    } else {
        $('#budgetModalLabel').text('Add New Budget');
        $("#budgetModal").modal('show');
    }
}
</script>
{% endblock %}
